@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optimisations performance */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}